<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <!-- Allow SignalR requests -->
        <processor type="Westco.SignalR.IgnoreCustomPrefixes, Westco.SignalR"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel']" />
      </httpRequestBegin>
      <initialize>
        <processor type="Westco.SignalR.NotificationStartupProcessor, Westco.SignalR"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <renderContentEditor>
        <processor type="Westco.SignalR.RenderContentEditorNotification, Westco.SignalR" patch:before="*[1]">
          <styles hint="list:addStyleResource">
          </styles>
          <scripts hint="list:addScriptResource">
            <!--<script>https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js</script>-->
            <script>https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.2.2/jquery.signalR.min.js</script>
            <script>/signalr/hubs</script>
            <script>/notifications.js</script>
          </scripts>
        </processor>
      </renderContentEditor>
    </pipelines>
    <processors>
      <loggedin>
        <processor mode="on" type="Westco.SignalR.LoggedInNotifier, Westco.SignalR"/>
      </loggedin>
    </processors>
  </sitecore>
</configuration>