<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <pipelines>
      <renderContentEditor>
        <processor type="Westco.Notification.Pipelines.InsertCustomContentEditorResource, Westco.Notification" patch:before="*[1]">
          <scripts hint="list:addScriptResource">
            <script>/sitecore modules/westco/scripts/notifications.js</script>
          </scripts>
        </processor>
      </renderContentEditor>
      <mvc.renderPageExtenders>
        <processor type="Westco.Notification.Pipelines.InsertCustomPageExtenderResource, Westco.Notification" patch:before="*[2]">
          <scripts hint="list:AddScriptResource">
            <script>/sitecore modules/westco/scripts/notifications.js</script>
          </scripts>
        </processor>
      </mvc.renderPageExtenders>
      <speak.client.getPageScripts>
        <processor type="Westco.Notification.Pipelines.InsertCustomSpeakResource, Westco.Notification" patch:before="*[2]">
          <scripts hint="list:AddScriptResource">
            <script>/sitecore modules/westco/scripts/notifications.js</script>
          </scripts>
        </processor>
      </speak.client.getPageScripts>
    </pipelines>
    <processors>
      <loggingin>
        <processor mode="on" type="Westco.Notification.Pipelines.LoggingInSubscription, Westco.Notification" patch:before="*[4]"/>
      </loggingin>
      <logout>
        <processor mode="on" type="Westco.Notification.Pipelines.LogoutSubscription, Westco.Notification" patch:before="*[4]"/>
      </logout>
    </processors>
  </sitecore>
</configuration>