<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <pipelines>
      <renderContentEditor>
        <processor type="Westco.Notification.Pipelines.InsertCustomContentEditorResource, Westco.Notification" patch:before="*[1]">
          <styles hint="list:addStyleResource">
          </styles>
          <scripts hint="list:addScriptResource">
            <script>/sitecore modules/westco/scripts/notifications.js</script>
          </scripts>
        </processor>
      </renderContentEditor>
      <mvc.renderPageExtenders>
        <processor type="Westco.Notification.Pipelines.InsertCustomPageExtenderResource, Westco.Notification" patch:before="*[2]">
          <scripts hint="list:AddScriptResource">
            <script>/sitecore modules/westco/scripts/notifications.js</script>
          </scripts>
        </processor>
      </mvc.renderPageExtenders>
      <speak.client.getPageScripts>
        <processor type="Westco.Notification.Pipelines.InsertCustomSpeakResource, Westco.Notification" patch:before="*[2]">
          <scripts hint="list:AddScriptResource">
            <script>/sitecore modules/westco/scripts/notifications.js</script>
          </scripts>
        </processor>
      </speak.client.getPageScripts>
    </pipelines>
    <processors>
      <loggedin>
        <processor mode="on" type="Westco.Notification.Pipelines.LoggedInSubscription, Westco.Notification"/>
        <processor mode="on" type="Westco.Notification.Pipelines.LoggedInNotifier, Westco.Notification"/>
      </loggedin>
    </processors>
  </sitecore>
</configuration>